name: Test

on:
  push:
    branch:
      - main

jobs:
  build:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Setup keystore
        working-directory: app
        run: |
          install ~/.android/debug.keystore release.keystore

      - name: Build APK
        env:
          KEYSTORE_FILE: release.keystore
          KEYSTORE_PASSWORD: android
          KEY_ALIAS: AndroidDebugKey
          KEY_PASSWORD: android
        run: ./gradlew :app:assembleRelease
