name: Test

on:
  push:
    branch:
      - main

jobs:
  build:
    name: Build Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
        with:
          dependency-graph: generate-and-submit

      - name: Setup keystore
        run: >
          keytool -genkey
          -keystore /tmp/release.keystore
          -alias AndroidDebugKey
          -storepass android
          -keypass android
          -keyalg RSA
          -keysize 2048
          -validity 1
          -dname "CN=Android Debug,O=Android,C=US"

      - name: Build APK
        env:
          KEYSTORE_FILE: /tmp/release.keystore
          KEYSTORE_PASSWORD: android
          KEY_ALIAS: AndroidDebugKey
          KEY_PASSWORD: android
        run: ./gradlew :app:assembleRelease
